
//Colores Principales

$ColorPrincipal: #007BFF;
$ColorSecundario: #eb6e17;
$TextoPrincipal: #ffffff;
$TextoSecundario:#000000;

// Vista Pagina

$mobile: 570px;
$tablet: 768px;
$desktop:1024px;
