//Variables

@import 'vars';


// Configuracion de estilo de la pagina

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.titulo {
    text-align: center;
}

// Alinear los botones a la derecha del título

.titulo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px 4px;
    padding: 2px 2px;
    border: 2px 2px;
}

// Estilos para ajuste de pantalla después de 1024px de ancho

@media (max-width: $tablet) {
    .titulo-container {
    flex-direction: column;
    align-items: center;
    }

    .btn {
    margin-top: 10px;
    }
}

// Botones del titulo

.search-bar {
    
    input {
    color: $ColorPrincipal;
    font-size: 14px;
    cursor: auto;
    }

    button {
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    background-color: $ColorSecundario;
    transition: background-color 0.3s;
    border: $ColorSecundario;
    }

    & &:hover {
    background-color: $ColorPrincipal;
    }

    & & a.active {
    background-color: $ColorPrincipal;
    }

}

.User-Cart {

    button {
        color: #fff;
        font-size: 14px;
        cursor: pointer;
        background-color: $ColorPrincipal;
        transition: background-color 0.3s;
        border: $ColorPrincipal;
        }

    & &:hover {
    background-color: $ColorSecundario;
    }

    & &:active {
    background-color: $ColorSecundario;
    }
}
  // Barra de navegacion

.custom-navbar .navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    cursor: pointer;
    border: 2px 2px;
}

// Menu de la pagina

// Presentacion de pagina

.title {
    color: $ColorPrincipal;
    margin: 20px 10px;

    p {
    color: #000000;
    }
}

// Carusel De imagenes

.marcas {
    margin: 10px 0px;
    color: #fff;
    background: linear-gradient($ColorSecundario, $ColorPrincipal);
}

#carouselExampleSlidesOnly img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

#carouselExampleSlidesOnly {
    margin: 10px 0px;
}

// Final de pagina

.final {
    background-color: #00000000;
    border: 4px solid;
    border-image: linear-gradient(to right, $ColorPrincipal, $ColorSecundario);
    border-image-slice: 1;
    color: $TextoSecundario;
    padding: 10px;
    text-align: center;

    .whatsapp-icon,
    .facebook-icon,
    .instagram-icon,
    .youtube-icon {
    margin: 10px 10px;
    }

    .additional-content {
    margin-top: 20px;
    }
}

// Estilo Pagina 2

.card {
    width: 100%;
    text-align: center;

// Estilo para las imágenes dentro de las tarjetas

    img {
    height: 400px;
    object-fit: contain;
    }

// Estilo para el fondo y texto dentro de las tarjetas

    .card-body {
    background-color: $ColorPrincipal;
    color: #fff9f9 !important;
    }
}
    
.subtitle {
    text-align: center;
    color: white; /* Color del texto */
    background-color: $ColorSecundario; /* Color de fondo naranja */
    padding: 10px; /* Ajusta el espacio interno del elemento */
}

.container {
    border: 4px solid;
    border-image: linear-gradient(to right, $ColorPrincipal, $ColorSecundario);
    border-image-slice: 1;
    padding: 10px;
    margin: 0 auto;
    background-color: #f8f9fa; /* Color de fondo */


    form {
            label {
                color: $TextoSecundario; 
                font-weight: bold;
            }

            input,
            textarea,
            select {
                background-color: $ColorPrincipal; 
                color: $TextoPrincipal; 
                border: 1px solid $TextoSecundario; 
                border-radius: 5px; 
                margin-bottom: 10px;
                padding: 8px;
                width: 100%;
            }

            button {
                background-color: $ColorSecundario;
                color: $TextoPrincipal;
                border: none;
                border-radius: 5px;
                padding: 10px;
                cursor: pointer;
            }
            
        }
}


// Pagina de contacto

.maps-container {
    text-align: center;
    margin: 1em;
}

.maps-container iframe {
    width: 100%;
    height: 600px;
    border: 2px solid #007bff;
    border-radius: 10px;
    overflow: hidden;
}

@media(min-width: 120px) {
    .maps-container {
        margin: 1em auto;
    }
}


.contact-info {
    text-align: center;
    padding: 2em;
    border: 4px solid $ColorSecundario; /* Borde de 2 píxeles sólido y color naranja */
    background-color: #00000000; /* Fondo naranja */
    margin: 20px auto; /* Margen en la parte superior e inferior, centrando la sección */
    max-width: 600px; /* Ancho máximo para evitar que la sección se extienda demasiado en pantallas grandes */

    & & h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px; /* Margen inferior para separar el título del contenido */
  }

  & & img {
    margin: 0 10px; /* Ajusta el margen según sea necesario */
  }

  & & h4 {
    margin-bottom: 10px; /* Margen inferior para separar las líneas */
  }

  & & a {
    color:$ColorPrincipal; /* Color del enlace para resaltar el enlace de correo electrónico */
  }
}